<strong>Hi, {{ provider }}</strong>
<p>There was an appointment cancellation, see the details below:</p>
<p>
  <strong>Customer:</strong> {{ user }}
  <strong>Date/time:</strong> {{ date }}
  <br />
  <small>
    The time is available again for appointments.
  </small>
</p>